<!-- Root component container -->
<div class="flex flex-col mt-2 md:mx-auto w-full">
    <div class="flex flex-col mx-12">
        <div class="text-2xl">{{ "Don't forget to check: " }}</div>
        <a routerLink="/users" class="my-4 pl-2 py-2 text-lg bg-sky-100 rounded-lg text-black visited:text-purple-700 underline underline-offset-4 hover:underline-offset-1">{{ "Users" }}</a>
        <a routerLink="/posts" class="my-4 pl-2 py-2 text-lg bg-sky-100 rounded-lg text-black visited:text-purple-700 underline underline-offset-4 hover:underline-offset-1">{{ "Posts" }}</a>
        <a routerLink="/todos" class="my-4 pl-2 py-2 text-lg bg-sky-100 rounded-lg text-black visited:text-purple-700 underline underline-offset-4 hover:underline-offset-1">{{ "Todo's" }}</a>
    </div>
</div>
