<!-- Root component container -->
<div class="flex flex-row mt-2 md:mx-auto w-full">

    <!-- Display while loading -->
    <ng-container *ngIf="isLoading()">
        <div class="flex flex-row items-center justify-center text-blue-700 w-full">
            <!-- spinner container -->
            <div class="flex flex-col items-center justify-center text-3xl">
                <div>{{ "Loading users..." }}</div>
                <svg class="animate-spin w-16 h-16" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z" />
                </svg>
            </div>
        </div>
    </ng-container>

    <!-- Display when failed -->
    <ng-container *ngIf="!isLoading() && didFail()">
        <div class="flex flex-col items-center justify-center">
            <div class="text-2xl text-red-800">
                {{ "Unable to fetch users" }}
            </div>
            <div>
                <button (click)="reload()" class="px-4 py-2 text-xl bg-blue-800 text-white">Retry</button>
            </div>
        </div>
    </ng-container>

    <!-- Display when loading successes -->
    <ng-container *ngIf="!isLoading() && didSuccess()">
        <div class="flex flex-col items-stretch justify-center py-2 pl-0 md:pl-2 lg:pl-12 w-11/12 md:w-10/12 lg:w-8/12">
            <!-- ! Add user forms -->
            <form [formGroup]="userForm" (ngSubmit)="onSubmitUser()" class="flex flex-col ml-4 my-12 py-4 px-6 items-stretch justify-center bg-blue-500 bg-opacity-40 rounded-xl">
                    <div class="text-lg">Add new user:</div>
                    <label for="name">Name: </label>
                    <input id="name" type="text" class="mb-3 border-2 border-stone-700" formControlName="userName">
                    <label for="email">Email: </label>
                    <input id="email" type="text" class="mb-3 border-2 border-stone-700" formControlName="userEmail">
                    <label for="gender">Gender: </label>
                    <input id="gender" type="text" class="mb-3 border-2 border-stone-700" formControlName="userGender">
                    <label for="status">Is Active?: </label>
                    <input id="status" type="checkbox" class="mb-3 border-2 border-stone-700" formControlName="userStatus">
                    <!-- TODO: validation -->
                    <button type="submit" [disabled]="!userForm.valid" class="w-1/2 lg:w-1/4 py-3 px-2 bg-blue-800 disabled:bg-blue-100 text-white hover:bg-blue-600 rounded-lg">Add new user</button>
            </form>
            <!-- ! Iterate over users -->
            <div *ngFor="let user of users; index as i;" class="flex flex-row mx-4 md:mx-6 my-2 py-4 min-h-[4rem] md:min-h-[6rem] bg-blue-100 bg-opacity-70 rounded-lg">
                <!-- Avatar -->
                <!-- SVG from: https://materialdesignicons.com/ -->
                <div class="flex items-center justify-center px-4 md:px-8 lg:px-12 py-4">
                    <svg class="w-16 h-16" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                    </svg>
                </div>
                <!-- ! User card -->
                <div class="flex flex-col">
                    <!-- ! User details -->
                    <div class="flex flex-row first:py-2 py-1 font-bold text-xl">
                        <div>
                            {{ user.name }}
                        </div>
                        <!-- Display "active" label if user is active -->
                        <div *ngIf="user.status === 'active'" class="p-1 ml-4 w-16 text-center bg-blue-800 text-white text-base font-normal rounded-md">
                            {{ "Active" }}
                        </div>
                        <!-- Display "new" label if user was manually inserted -->
                        <div *ngIf="user.isNew === true" class="p-1 ml-4 w-16 text-center bg-amber-500 text-white text-base font-normal rounded-md">
                            {{ "New" }}
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="first:py-2 py-1 italic underline text-lg cursor-pointer">
                        {{ user.email }}
                    </div>
                    <!-- Gender -->
                    <div class="first:py-2 py-1 text-base">
                        {{ "Gender: " + user.gender }}
                    </div>
                    <!-- ID -->
                    <div class="first:py-2 py-1 text-sm">
                        {{ "ID: " + user.id }}
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>